{% extends 'users/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'user_profile.css' %}">
{% endblock %}


{% block content %}

<div class="container">
        <div class="profile-header">
            {% if user.image %}
                <img src="{{ user.image.url }}" alt="{{ user.username }} image">
            {% else %}
                <img src="/media/user_images/default_user.jpg" alt="Default user image">
            {% endif %}
            <h1>{{ user.username }}</h1>
            <p>{{ user.email }}</p>
        </div>
        <div class="profile-details">
            <h2>Информация о пользователе</h2>
            <ul>
                <li><strong>Имя:</strong> {{ user.first_name }}</li>
                <li><strong>Фамилия:</strong> {{ user.last_name }}</li>
                <li><strong>Дата joined:</strong> {{ user.date_joined }}</li>
                <li><strong>Последний вход:</strong> {{ user.last_login }}</li>
            </ul>
            <h2>Группы</h2>
            <ul>
                {% for group in user.groups.all %}
                    <li>{{ group.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}